@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRight{
    from {
        transform: translateX(-300px)
    }
    to {
        transform: translateX(0)
    }

}
.slide-right {
    animation: slideRight 1s ease-in 1s 1 normal
}